@media only screen and (max-width: 991px) {
  .ril__navButtonNext {
    background-size: 10px;
    background-color: #ffffff00;
  }
  .ril__navButtonPrev {
    background-size: 10px;
    background-color: #ffffff00;
  }
}
