	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/05/2020 14:29
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../fonts/Flaticon.woff2") format("woff2"),
           url("../fonts/Flaticon.woff") format("woff"),
           url("../fonts/Flaticon.ttf") format("truetype"),
           url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
            font-size: 20px;
    font-style: normal;
    margin-left: 20px;
    }
    
    .flaticon-book:before { content: "\f100"; }
    .flaticon-map:before { content: "\f101"; }
    .flaticon-email:before { content: "\f102"; }
    .flaticon-instagram:before { content: "\f103"; }
    .flaticon-facebook:before { content: "\f104"; }